**/bin
**/obj
**/node_modules
**/.git
**/.vs
**/.vscode
**/.idea
**/out.json
**/*.user
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
!README.md
**/coverage
**/TestResults
**/*.log
**/logs
.env
.env.*
**/packages
**/artifacts
**/*.nupkg
**/*.snupkg
