services:
  api:
    build:
      context: .
      dockerfile: src/SimArch.Api/Dockerfile
    image: ${GHCR_IMAGE_BASE:-ghcr.io/wendelmax/simarch}-api:local

  web:
    build:
      context: .
      dockerfile: src/SimArch.Web/Dockerfile
    image: ${GHCR_IMAGE_BASE:-ghcr.io/wendelmax/simarch}-web:local
